# Google Analytics (GA4)
NEXT_PUBLIC_GA_MEASUREMENT_ID=

# Google Tag Manager (GTM)
NEXT_PUBLIC_GTM_ID=

# Meta Pixel (Facebook)
NEXT_PUBLIC_META_PIXEL_ID=

# Vimeo Video ID e Hash (Hash é necessário para vídeos Não Listados)
NEXT_PUBLIC_VIMEO_VIDEO_ID=76979871
NEXT_PUBLIC_VIMEO_HASH=
